/* @font-face {
  font-family: "heroesregular";
  src: url("../fuentes/heroes-webfont.woff2") format("woff2"),
    url("../fuentes/heroes-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
}

body {
  /* background-image: url("../1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed; 
  background-color: whitesmoke;
}

.contenedor {
  margin: 20px auto;
  width: 70%;
  text-align: center;
}

 CARRUSEL PRODUCTOS 
#prod {
  width: 100%;
  max-width: 263px;
  margin: 5px auto;
  margin-bottom: 14px;
  padding: 10px;
  border-radius: 11px;
  box-shadow: 0px 0px 6px 1px black;
}

.imagen {
  position: relative;
  display: flex;
  justify-content: center;
}

.imagen img {
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5 ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay a {
  color: white;
  background-color: #5564eb;
  border-radius: 32%;
  padding: 10px;
  font-size: 22px;
  text-align: center;
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.overlay a:hover {
  rotate: 100%;

  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.imagen:hover .overlay {
  width: 20%;
  transition: all 0.3s;
}

.nombre {
  font-size: 16px;
  width: 100%;
  height: 50px;
  color: black;
}

.nombre a {
  text-decoration: none;
  color: black;
}

.nombre a:hover {
  color: red;
  cursor: pointer;
}

.precio {
  text-align: start;
  color: blue;
  font-size: 23px;
}

.img-prod {
  display: inline-block;

  height: 267px;
  width: 70% !important;
}

/* CARRUSEL PRODUCTOS */

/* hr {
  margin: 10px 0;
} 

.cont-heros {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cont-heros h2 {
  margin-bottom: 10%;
  font-family: "heroesregular";
}

.cont-heros .hero {
  margin: 20px;
}

.cont-heros .hero img {
  width: 250px;
  height: 200px;
  border-radius: 100px;
  transition: all 0.2s;
}

/* EFECTO CORAZON 

@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: none;
  }
}
/* EFECTO CORAZON 
.cont-heros .hero img:hover {
  transform: scale(1.1);
  animation: latidos 0.5s infinite;
  transform-origin: center;
  box-shadow: 0 0 10px 3px #000;
}

@media screen and (max-width: 1024px) {
  .contenedor {
    width: 90%;
  }

  #prod {
    max-width: 250px;
  }

  .imagen img {
    object-fit: fill;
  }
} */

@font-face {
  font-family: "heroesregular";
  src: url("../fuentes/heroes-webfont.woff2") format("woff2"),
    url("../fuentes/heroes-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;

  letter-spacing: 1px;
}

body {
  /* background-image: url("../1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: fixed; */
  background-color: whitesmoke;
}

.contenedor {
  font-family: "Staatliches", cursive;
  margin: 20px auto;
  width: 70%;
  text-align: center;
}

/* CARRUSEL PRODUCTOS */
#prod {
  width: 100%;
  max-width: 263px;
  margin: 5px auto;
  margin-bottom: 14px;
  padding: 10px;
  border-radius: 11px;
  box-shadow: 0px 0px 6px 1px black;
}

.imagen {
  position: relative;
  display: flex;
  justify-content: center;
}

.imagen img {
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5 ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay a {
  color: white;
  background-color: #5564eb;
  border-radius: 32%;
  padding: 10px;
  font-size: 22px;
  text-align: center;
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.overlay a:hover {
  rotate: 100%;

  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.imagen:hover .overlay {
  width: 20%;
  transition: all 0.3s;
}

.nombre {
  font-size: 16px;
  width: 100%;
  height: 50px;
  color: black;
}

.nombre a {
  text-decoration: none;
  color: black;
}

.nombre a:hover {
  color: red;
  cursor: pointer;
}

.precio {
  text-align: start;
  color: blue;
  font-size: 23px;
}

.img-prod {
  display: inline-block;

  height: 267px;
  width: 70% !important;
}

/* CARRUSEL PRODUCTOS */

/* hr {
  margin: 10px 0;
} */

.cont-heros {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cont-heros h2 {
  margin-bottom: 10%;
  font-family: "heroesregular";
}

.cont-heros .hero {
  margin: 20px;
}

.cont-heros .hero img {
  width: 250px;
  height: 200px;
  border-radius: 100px;
  transition: all 0.2s;
}

/* EFECTO CORAZON */

@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: none;
  }
}
/* EFECTO CORAZON */
.cont-heros .hero img:hover {
  transform: scale(1.1);
  animation: latidos 0.5s infinite;
  transform-origin: center;
  box-shadow: 0 0 10px 3px #000;
}

@media screen and (max-width: 1024px) {
  .contenedor {
    width: 90%;
  }

  #prod {
    max-width: 250px;
  }

  .imagen img {
    object-fit: fill;
  }
}
